/*
  ========================================
  Item Card Styles
  ========================================
*/

/* centering */

#primary-artifacts-container,
#primary-quests-container {
    display: flex;
    /* align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap; */
    height: 100%;
}

/* main container */

.artifact-container,
.quest-container {
    margin: 90px 0;
    width: 300px;
    height: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quest-container {
    margin-right: 30px;
}

.artifact-container {
    padding-top: 30px;
}

.basic-artifact:hover,
.basic-quest:hover {
    box-shadow:
            0 4px 8px 0 rgba(64, 156, 255, 0.74),
            0 6px 20px 0 rgba(64, 156, 255, 0.19);
}

.magic-artifact:hover,
.extra-quest:hover {
    box-shadow:
            0 4px 8px 0 rgba(174, 0, 15, 0.88),
            0 6px 20px 0 rgba(174, 0, 15, 0.19);
}

/* image container */

div.artifact-image-container img,
div.quest-image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.artifact-image-container img {
    padding-top: 4px;
    height: 280px;
    position: relative;
    bottom: 90px;
    box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.quest-image-container img {
    width: 200px;
}

.bag-of-coins img {
    position: relative;
    bottom: 70px;
}

.pile-of-coins img {
    position: relative;
    bottom: 150px;
    left: 85px;
}

/* price container */

.artifact-price-container {
    position: relative;
    padding-left: 120px;
    bottom: 115px;
}

.quest-reward-container {
    position: relative;
    padding-left: 25px;
    bottom: 215px;
}

.artifact-price-container span,
.quest-reward-container p {
    padding-right: 5px;
    font-size: 30px;
    font-weight: bolder;
    color: #F5C21B;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 30, 2, 0.3)), to(#020100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.artifact-price-container img {
    width: 100px;
}

/* title container */

div.artifact-title-container {
    position: relative;
    bottom: 90px;
}

div.quest-title-container {
    position: relative;
    bottom: 140px;
}

div.artifact-title-container,
div.quest-title-container {
    margin: auto;
    height: 20px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(64, 156, 255, 0.74);
    border-bottom: none;
    background-color: #f3f3f3;
}

.magic-artifact .artifact-title-container,
.extra-quest .quest-title-container {
    border: 2px solid rgba(174, 0, 15, 0.88);
    border-bottom: none;
}

div.artifact-title-container p,
div.quest-title-container p {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: #57033b;
}

/* description container */

div.artifact-description-container {
    position: relative;
    bottom: 78px;
}

div.quest-description-container {
    position: relative;
    bottom: 120px;
}

div.artifact-description-container,
div.quest-description-container {
    margin: auto;
    height: 70px;
    width: 250px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border-top: 2px solid rgba(64, 156, 255, 0.74);
}

.magic-artifact .artifact-description-container,
.extra-quest .quest-description-container {
    border-top: 2px solid rgba(174, 0, 15, 0.88);
}

div.artifact-description-container p,
div.quest-description-container p {
    text-align: center;
    padding-top: 18px;
    font-size: 20px;
    color: #57033b;
}

/* buttons */

div.artifact-purchase-button-container,
div.quest-claim-button-container {
    position: relative;
    bottom: 70px;
}

div.artifact-purchase-button-container button,
div.quest-claim-button-container button {
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #fb9d06;
    box-shadow:
            0 2px 5px rgba(0, 0, 0, 0.5),
            0 1px 0 rgba(255, 255, 255, 0.25) inset,
            0 0 0 rgba(0, 0, 0, 0.25) inset,
            0 20px 0 rgba(255, 255, 255, 0.03) inset,
            0 -20px 20px rgba(0, 0, 0, 0.15) inset,
            0 20px 20px rgba(255, 255, 255, 0.05) inset;
    transition: all 0.5s linear 0s;
}

div.artifact-purchase-button-container button:hover,
div.quest-claim-button-container button:hover {
    cursor: pointer;
    color: #57033b;
    background-color: #f3f3f3;
}