<div class="flex-container-footer">
    <div id="copyright">
        <small>Copyright &copy; 2019 Quest Store</small>
    </div>

    <div id="icon-github" class="icons">
        <a href="https://github.com/CodecoolGlobal/quest_store_tl"><img
                    src="../static/assets/images/navigation-icons/icon-github.png" alt="GitHub"/></a>
    </div>

    <div>
        <ul class="icons nav">
            <li class="flex-item-footer"><a href="/creepy-guy"><img
                            src="../static/assets/images/navigation-icons/icon-home.png" alt="Home"/></a></li>
            <li class="flex-item-footer"><a href="/login"><img
                            src="../static/assets/images/navigation-icons/icon-logout.png" alt="Logout"/></a></li>
            <li class="flex-item-footer"><label for="main-page-search"><img
                            src="../static/assets/images/navigation-icons/icon-search.png" alt="Search"/></label>
            </li>
        </ul>
    </div>
</div>