<div class="primary-header flex-container-header">

    <div>
        <img src="../static/assets/images/logo/logo.png" alt="Website Logo" id="main-logo"/>
    </div>

    <div>
        <ul class="nav primary-nav">
            <li class="flex-item-header"><a href="/creepy-guy">HOME</a></li>
            <li class="flex-item-header"><a href="/mentors">VIEW MENTORS</a></li>
            <li class="flex-item-header"><a href="/login">LOGOUT</a></li>
        </ul>
    </div>
</div>

<div class="primary-header">
    <input class="search-field" type="text" placeholder="Search..." id="main-page-search"/>
</div>