<div class="primary-header flex-container-header">

    <div>
        <img src="../static/assets/images/logo/logo.png" alt="website Logo" id="main-logo"/>
    </div>

    <div class="nav primary-nav">

        <div class="flex-item-header">
            <a href="/mentor">HOME</a>
        </div>

        <div class="dropdown flex-item-header">
            <button class="dropbtn">MENU<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/codecoolers">VIEW CODECOOLERS</a>
                <a href="/quests">VIEW QUESTS</a>
                <a href="/artifacts">VIEW ARTIFACTS</a>
                <a href="/teams">VIEW TEAMS</a>
            </div>
        </div>

        <div class="flex-item-header">
            <a href="/login">LOGOUT</a>
        </div>

    </div>

</div>

<div class ="primary-header">
    <input class="search-field" type="text" placeholder="Search..." id="main-page-search">
</div>