<div class="primary-header flex-container-header">

    <div>
        <img src="../static/assets/images/logo/logo.png" alt="website Logo" id="main-logo"/>
    </div>

    <div class="nav primary-nav">

        <div class="flex-item-header">
            <a href="student.html">HOME</a>
        </div>

        <div class="dropdown flex-item-header">
            <button class="dropbtn">MENU<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="artifacts.html">ARTIFACTS</a>
                <a href="quests.html">QUESTS</a>
            </div>
        </div>

        <div class="flex-item-header">
            <a href="login.html">LOGOUT</a>
        </div>

    </div>
</div>