<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="description" content="First Assignment in Team work week">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="Liz, Tatiana Slonimskaia">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quest store</title>
        <link rel="stylesheet" href="assets/stylesheets/main.css">
    </head>

    <body>

        <!--Header-->

        <header>

            <img src="../assets/images/logo/logo.png" alt="website Logo"/>

            <nav>
                <a href="#">HOME</a>
                <a href="#">Do something</a>
                <a href="#">LOGOUT</a> 
                <input type="text" placeholder="Search..">  
            </nav>
            
        </header>
    
        <!--Footer-->

        <footer>
            <small>Copyright &copy; 2019 Quest Store</small>
            <nav>
                <a href="#">Home</a>
                <a href="#">Do something</a>
                <a href="#">Logout</a>    
            </nav>
        </footer>

    </body>   

</html>